[Desktop Entry]
Categories=GNOME;GTK;Utility;X-GNOME-Utilities;Settings;HardwareSettings;
Comment[en_US]=Rotate the screen
Comment=Rotate the screen
Exec=/usr/bin/Autorotate_toggle.sh
GenericName[en_US]=
GenericName=
Icon=/usr/share/icons/rstate.png
MimeType=
Name[en_US]=Toggle Rotate Screen
Name=Toggle Rotate Screen
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
